.monk{
    color: #00FF96;
}
.mage{
    color: #40C7EB;
}
.priest{
    color: #FFFFFF;
}
.druid{
    color: #FF7D0A;
}
.paladin{
    color: #F58CBA;
}
.warrior{
    color: #C79C6E;
}
.death_knight{
    color: #C41F3B;
}
.warlock{
    color: #8787ED;
}
.demonHunter{
    color: #A330C9;
}
.hunter{
    color: #A9D271;
}
.rogue{
    color: #FFF569;
}
.shaman{
    color: #0070DE;
}